/* CSS Document 

Background #2E3133
Pale Yellow #FCF79B
Pale Brown #E0A88A
Pale Pink #E3A5F7
Pale Green #ADFC9B
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	overflow: hidden;
}

.container {
	padding: 60px;
	width: 100vw;
	height: 100vh;
	background-color: #2E3133;
}
.input-container{
	min-height: 60px;
}
.main-input{
	position: absolute;
	background-color: rgba(0,0,0,0.15);
	height: 60px;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
	color: #FCF79B;
	text-indent: 30px;
	padding-right: 30px;
	border: none;
	border-radius: 30px;
}
input.main-input {
	font-size: 1.5rem;
}
#add{
	width: 60px;
	height: 60px;
	background: none;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	left: 85%;
	position: absolute;
	transform: translateX(-50%);
}
#add-svg{
	transition: all 200ms ease-in-out
}
#add svg{
	width: 100%;
	height: 100%;
}
svg:hover #add-svg{
	fill: #9FF9D8;
}


.msg-container{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 20%;
	padding: 60px;
}
.comment-box{
	margin: 30px;
	width: 240px;
}
.comment-box-header{
	background-color: #E3A5F7; 
	width: 240px;
	min-height: 20px;
	border-radius: 10px 10px 0 0;
	padding: 2px 5px;
}
.comment-box-message{
	background-color: rgba(0,0,0,0.15); 
	width: 240px;
	min-height: 60px;
	border-radius: 0 0 10px 10px;
	
}